@import "bourbon"

$arose: #ff033e
$chinaRed: #e34234
$yellow: #EEC126
$white: #fff
$primary: #213B4F
$second: #5A81A2
//

h1.slider
  color: $white
  text-align: center
  font-size: em(30px)
  margin-top: em(40px)



.nav_menu
  //text-align: right
  border: 0px solid black
  padding: 0px
  ul
    margin: 0
    padding: 0px
    
  li
    display: inline-block
    margin-right: 0px
    border-right: 2px solid #355b82
    padding: 0px
    text-align: center
    vertical-align: middle
    line-height: 30px
    height: 75px
    width: 9.7em
    float: right
    &:hover
      background-color: lighten($primary, 17%)

    span
      display: block
    i
      font-size: em(23px)
      margin-top: 6px
      color: $white
      line-height: 30px

    a
      font-size: 18px
      text-decoration: none
      color: $white
      &:visited
        color: $white


  li.current
    background-color: $yellow
  i.current
    color: #375e84
    font-size: 30px
  a.current
    color: #375e84
    &:visited
      color: #fff





//отключние видеофона, скошенной полосы
@media screen and (max-width: 1000px)
  .video-container
    display: none
  .phone
    //text-align: center
    color: #fff
    //padding: 10px
  //.nav_menu
    text-align: center
    color: $chinaRed

  .row.sprite
    background-image: none
  img.home
    //float: none
    //width: 40px
    display: flex
    align-items: center
    align: center

  .row.slider
    height: 15em

  .slogan
    font-size: 2em
    color: $chinaRed
    padding-right: 0em
    padding-top: 0em
  img.logo
    width: 150px
    margin-top: 45px

.home
  //float: right
  width: 200px
  align: center





.row
    &.menus
    &.shapka
    &.polosa
    &.video
    &.sprite
    &.slider
    &.content



.content
  background-color: #e6ebee
  height: 30em
.content-box
  padding-top: 10em
  text-align: right

.box
	border: 1px solid black
	height: 30px

	//&:hover
	background-color: $chinaRed


//.row
  &.shapka
    width: 100%

//.container
  &.shapka

.slogan_container
    h1
    padding-left: 8em
    padding-top: 2em
    width: 300px
    //border: 1px solid black
.label1
  padding: 37px
  font-size: 10px
  //color: $jeltiy
  text-align: left
.logo
  padding: 15px
  width: 10em
  float: left

.slogan
  font-size: em(30px)
  color: $yellow
  float: left


.phone
  border: 1px solid black
  //text-align: left
  //padding: 25px
  font-size: em(24px)
  color: $white
  padding: 15px

.menu-wrapper
  border: 1px solid black
  background-color: #000

.menus
  //background-color: $vk2
  //height: 83px
  border: 0px solid black
  text-align: center
  background-color: #5A81A2
  height: 12em
  background-color: rgba(90, 129, 162, 0.8)
  //top : 0
  //left: 0
.sprite

  background-color: #213B4F
  height: 165px
  background: url(/img/sprite.png)
  background-repeat: no-repeat
  background-size: 115%
  position: relative
  z-index: 2
  //border-bottom: 100px solid #e6ebee

.shapka
  @include linear-gradient(#5A81A2, #335980)
  height: 77px

.slider_image
  background: url(/img/sprite.png)
  background-repeat: no-repeat
  background-size: 100%
  position: relative
  z-index: 2


.slider
  height: 25em
  position: relative
  z-index: -3
  color: $arose
