@import "bourbon"

$arose: #ff033e
$chinaRed: #e34234
$yellow: #EEC126
$white: #fff
$primary: #213B4F
$second: #5A81A2

//

h1.slider
  color: $white
  text-align: center
  font-size: em(30px)
  margin-top: em(40px)

.menu-wrapper
    position: relative
    z-index: 2

.nav_menu
  //text-align: right
  display: block
  border: 0px solid black
  padding: 0px
  ul
    margin: 0
    padding: 0px

  li
    display: inline-block
    margin-right: 0px
    border-right: 2px solid #355b82
    padding: 0px
    text-align: center
    vertical-align: middle
    line-height: 30px
    height: 75px
    width: 9.7em
    float: right
    &:hover
      background-color: lighten($primary, 17%)

    span
      display: block
    i
      font-size: em(20px)
      margin-top: 6px
      color: $white
      line-height: 30px

    a
      font-size: 18px
      text-decoration: none
      color: $white
      &:visited
        color: $white


  li.current
    background-color: $yellow
  i.current
    color: $yellow
    font-size: 30px
  a.current
    color: $yellow
    font-weight: 600
    &:visited
      color: $yellow





//отключние видеофона, скошенной полосы






.row
    &.menus
    &.shapka
    &.polosa
    &.video
    &.sprite
    &.slider
    &.content



.content
  background-color: #e6ebee
  height: 30em
.content-box
  padding-top: 10em
  text-align: right

.box
	border: 1px solid black
	height: 30px

	//&:hover
	background-color: $chinaRed


//.row
  &.shapka
    width: 100%

//.container
  &.shapka

.slogan_container
    h1
    /*padding-left: 8em*/
    padding-top: 2em
    width: 300px
    float: left
    //border: 1px solid black
.label1
  padding: 37px
  font-size: 10px
  //color: $jeltiy
  text-align: left
.logo
  padding: 15px
  width: 10em
  float: left

.slogan
  font-size: em(30px)
  color: $yellow
  float: left


.phone
  border: 1px solid black
  //text-align: left
  //padding: 25px
  font-size: em(24px)
  color: $white
  margin: 15px
  i:first-child
    padding-right: 20px!important

.menus
  //background-color: $vk2
  //height: 83px
  border: 0px solid black
  text-align: center
  background-color: #5A81A2
  height: 12em
  background-color: rgba(90, 129, 162, 0.8)
  //top : 0
  //left: 0
.sprite

  background-color: #213B4F
  height: 165px
  background: url(/img/sprite.png)
  background-repeat: no-repeat
  background-size: 115%
  position: relative
  z-index: 2
  //border-bottom: 100px solid #e6ebee

.sprite-circle
  width: em(200px)
  i
    line-height: 180px
    font-size: 6em



.shapka
  //@include linear-gradient(#5A81A2, #335980)
  //background-color: #5F83A1
  @include linear-gradient(#7395b1, #4d6f8b)
  height: 77px



.slider_image
  background: url(/img/sprite.png)
  background-repeat: no-repeat
  background-size: 100%
  position: relative
  z-index: 2


.slider
  height: 25em
  position: relative
  z-index: -3
  color: $arose
